* {
  caret-color: transparent;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

/* 메뉴바 스타일 */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.5%;
  background-color: transparent;
  color: #000000;
  padding: 10px;
  z-index: 10;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
  margin: 0;
  padding: 0;
  margin-right: 60px;
}

nav ul li {
  margin: 0 25px;
  font-size: 20px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 600;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  position: relative;
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
}

header {
  width: 100%;
  text-align: center;
  height: 50px;
  position: fixed;
}

b {
  display: inline-block;
  margin-left: 50px;
  margin-top: 20px;
  cursor: pointer;
}

div {
  width: 100vw;
  height: 100vh;
}

/* 네비게이션 */
#bthome {
  color: #bbbbbb;
}
b {
  font-size: 20px;
  font-family: 'Palanquin Dark', sans-serif;
  font-weight: 600;
  color: white;
  padding: 5px;
}
b:hover {
  color: black;
}

/* Window 1 */
#window1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
}

#intro {
  color: #ffffff;
  font-family: 'Pretendard-Regular', sans-serif;
  font-weight: 550;
  font-size: 27px;
  text-align: center;
  position: absolute;
  line-height: 2.5;
  top: 59%;
}

#introeng {
  color: #ffffff;
  font-family: 'Pretendard-Regular', sans-serif;
  font-weight: 550;
  font-size: 27px;
  text-align: center;
  position: absolute;
  line-height: 2.2;
  top: 57%;
}

#window1 img {
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 30%;
}

/* Window 2 */
#window2 {
  background-image: url('src/particles.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
}

#window2 h1 {
  color: #ffffff;
  font-family: 'Pretendard-Regular', sans-serif;
  font-weight: 600;
  font-size: 40px;
  text-align: left;
  position: absolute;
  line-height: 1.5;
  top: 10%;
  left: 100px;
}

#window2 .horizon-line {
  position: absolute;
  width: 90%;
  height: 2px;
  background-color: #fff;
  top: 52%;
}

#window2 .vertical-line {
  display: none;
}

#window2 p {
  color: #ffffff;
  font-family: 'Pretendard-Regular', sans-serif;
  font-weight: 550;
  font-size: 25px;
  text-align: left;
  position: absolute;
  line-height: 1.5;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

#y2018 {
  top: 43%;
  left: 20%;
}

#y2019 {
  top: 43%;
  left: 50%;
}

#y2020 {
  top: 43%;
  left: 78%;
}

#y2021 {
  top: 61%;
  left: 26%;
}

#y2022 {
  top: 61%;
  left: 59%;
}

#y2023 {
  top: 61%;
  left: 84%;
}

/* Window 3 */
#window3 {
  background-image: url('src/square.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
}

#window3 img {
  width: auto;
  height: 200px;
  position: absolute;
}

#window3 h1 {
  color: #ffffff;
  font-family: 'Pretendard-Regular', sans-serif;
  font-weight: 600;
  font-size: 40px;
  text-align: left;
  position: absolute;
  line-height: 1.5;
  top: 10%;
  left: 100px;
}

#research h2 {
  color: #1ada80;
  font-family: 'Pretendard-Regular', sans-serif;
  font-weight: 600;
  font-size: 32px;
  text-align: left;
  position: absolute;
  line-height: 1.5;
  top: 21%;
  left: 100px;
  position: absolute;
}

#researchteam {
  color: #ffffff;
  font-family: 'Pretendard-Regular', sans-serif;
  font-weight: 600;
  font-size: 22px;
  text-align: left;
  position: absolute;
  line-height: 2.8;
  top: 29%;
  left: 100px;
  position: absolute;
}

#researchteammbile {
  display: none;
}

#research1 {
  position: absolute;
  top: 33%;
  left: 76%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#research2 {
  position: absolute;
  top: 45%;
  left: 85%;
  transform: translate(-50%, -50%);
}

#dev h2 {
  color: #1ada70;
  font-family: 'Pretendard-Regular', sans-serif;
  font-weight: 600;
  font-size: 32px;
  text-align: right;
  position: absolute;
  line-height: 1.5;
  top: 58%;
  right: 110px;
  position: absolute;
}

#devteam {
  color: #ffffff;
  font-family: 'Pretendard-Regular', sans-serif;
  font-weight: 600;
  font-size: 22px;
  text-align: right;
  position: absolute;
  line-height: 2.8;
  top: 66%;
  right: 110px;
  position: absolute;
}

#dev1 {
  position: absolute;
  top: 73%;
  left: 18%;
  transform: translate(-50%, -50%);
}

#dev2 {
  position: absolute;
  top: 83%;
  left: 28%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* Window 4 */
#window4 {
  background-image: url('src/connection.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
}

#window4 h1 {
  color: #ffffff;
  font-family: 'Pretendard-Regular', sans-serif;
  font-weight: 600;
  font-size: 40px;
  text-align: left;
  position: absolute;
  line-height: 1.5;
  top: 10%;
  left: 100px;
}

#faq {
  position: absolute;
  top: 71%;
  left: 55%;
  transform: translate(-50%, -50%);
}

#faq h2 {
  color: #1ada70;
  font-family: 'Pretendard-Regular', sans-serif;
  font-weight: 600;
  font-size: 25px;
  text-align: left;
  line-height: 3.5;
}

#faq h3 {
  color: #ffffff;
  font-family: 'Pretendard-Regular', sans-serif;
  font-weight: 600;
  font-size: 22px;
  text-align: left;
  line-height: 3.5;
}

#faqeng {
  position: absolute;
  top: 69%;
  left: 55%;
  transform: translate(-50%, -50%);
}

#faqeng h2 {
  color: #1ada70;
  font-family: 'Pretendard-Regular', sans-serif;
  font-weight: 600;
  font-size: 23px;
  text-align: left;
  line-height: 3.3;
}

#faqeng h3 {
  color: #ffffff;
  font-family: 'Pretendard-Regular', sans-serif;
  font-weight: 600;
  font-size: 21px;
  text-align: left;
  line-height: 3.3;
}

/* Window 5 */
#window5 {
  display: flex;
  align-items: center; /* 추가: 수직 방향 중앙 정렬 */
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 30vh;
  background-color: #181818;
}

#Contact {
  margin-top: 3%;
  margin-left: 33%;
}

#window5 img {
  width: 8%;
  margin-right: 65px;
}

#window1,
#window2,
#window3,
#window4,
#window5 {
  overflow-x: hidden;
  overflow-y: hidden;
}
